<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr id="product-{{this.product._id}}">

                    <td><img style="width:70px;height:70px" src="/product-images/{{this.product._id}}.jpg" alt=""></td>
                    <td>{{this.product.Name}}</td>

                    <td>
                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this.product._id}}','{{this._id}}',1)">+</button><label
                            id="product-count-{{this.product._id}}">{{this.quantity}}</label><button
                            class="cart-item-count ml-3"
                            onclick="changeQuantity('{{this.product._id}}','{{this._id}}',-1)">-</button>
                    </td>
                    <td class="btn btn-danger" onclick="removeButton('{{this.product._id}}')">Remove</td>

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    function changeQuantity(proId, cartId, count) {
        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartId,
                product: proId,
                count: count
            },
            method: 'post',
            success: (response) => {
                let currentProductCount = $('#product-count' + '-' + response.proId).html()
                console.log(response.count)
                if (response.count === 1) {
                    console.log("+1")
                    currentProductCount = parseInt(currentProductCount) + 1
                } else {
                    console.log("-1")
                    currentProductCount = parseInt(currentProductCount) - 1
                }
                $('#product-count' + '-' + response.proId).html(currentProductCount)
            }
        })
    }

  

</script>