<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr id="product-{{this.product._id}}">

                    <td><img style="width:70px;height:70px" src="/product-images/{{this.product._id}}.jpg" alt=""></td>
                    <td>{{this.product.Name}}</td>
                    

                    <td>
                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this.product._id}}','{{this._id}}','{{../user}}',1)">
                            +
                        </button>
                        <label id="product-count-{{this.product._id}}">
                            {{this.quantity}}
                        </label>
                        
                        <button class="cart-item-count ml-3"
                            onclick="changeQuantity('{{this.product._id}}','{{this._id}}','{{../user}}',-1)"
                            id="decBtn-{{this.product._id}}">
                            -
                        </button>
                        
                    </td>
                    <td class="btn btn-danger" onclick="removeButton('{{this.product._id}}','{{../user}}')">Remove</td>

                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="float-right">
            <h4>Total Price: Rs.<span id="total">{{total}}</span></h4>
            <a href="/place-order" class="btn btn-success mt-3" style="width: 100%">Place order</a>

        </div>
    </div>
</section>

<script>
    function changeQuantity(proId, cartId, userId, count) {
        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartId,
                product: proId,
                count: count,
                user:userId
                
            },
            method: 'post',
            success: (response) => {

                document.getElementById('total').innerHTML=response.total

                let id = 'decBtn-' + proId
                document.getElementById(id).disabled = false;
                let currentProductCount = $('#product-count' + '-' + response.proId).html()
                console.log(response.count)
                if (response.count === 1) {
                    currentProductCount = parseInt(currentProductCount) + 1
                } else {
                    currentProductCount = parseInt(currentProductCount) - 1
                }
                $('#product-count' + '-' + response.proId).html(currentProductCount)
                if (currentProductCount === 1) {
                    
                    // Handle the response on success
                    document.getElementById(id).disabled = true;
                }
            }
        })
    }



</script>